#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#header,
#footer {
  background-color: #4682b4;
  padding: 10px;
  border: 1px solid black;
}

#nav_section {
  display: flex;
  background-color: #4682b4;
  border: 1px solid black;
}

#nav {
  flex-basis: 25%;
  padding: 10px;
  border-right: 1px solid black;
}

#section {
  margin-top: 0%;
  flex-basis: 75%;
  padding: 10px;
  background-color: #ffdab9;
}

#article {
  border: 1px solid black;
  padding: 10px;
}
